@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<h2 class="text-danger">An error occurred while generating Renewal Letter.</h2>


@Html.ActionLink("Back to Details", "RenewalDetail")
